In [50]:
from urllib.parse import urlencode,quote
import urllib.request
import requests
import json

In [ ]:
#보안상 servicekey는 제거

In [107]:
#코로나19 예방접종 통계데이터(서울특별시)
servicekey=''
base_url = "https://api.odcloud.kr/api"
vaccine_endpoint = "/15077756/v1/vaccine-stat"

vaccine_url = base_url+vaccine_endpoint+"?serviceKey="+servicekey+"&cond[sido::EQ]="+quote("서울특별시")+"&page=1&perPage=200"

#URL = "https://api.odcloud.kr/api/15077756/v1/vaccine-stat?page=1&perPage=200&cond%5Bsido%3A%3AEQ%5D=%EB%B6%80%EC%82%B0%EA%B4%91%EC%97%AD%EC%8B%9C&serviceKey=HHQsX29i3kgKraRR7G%2BADQj9bY663OHfn8K8yfi%2F9FvKu1j890mAFM1aSHo9WWUR7vnH0guXGIRoGIScVVszxw%3D%3D"

response = urllib.request.urlopen(vaccine_url)
json_str = response.read().decode("utf-8")

rawdata=json.loads(json_str)
seoul=json_normalize(rawdata['data'])
seoul

#busan.to_csv("./result/vc_seoul.csv",encoding="utf-8-sig")

,accumulatedFirstCnt,accumulatedSecondCnt,baseDate,firstCnt,secondCnt,sido,totalFirstCnt,totalSecondCnt
0,61232,0,2021-03-11 00:00:00,12595,0,서울특별시,73827,0
1,74892,0,2021-03-12 00:00:00,10972,0,서울특별시,85864,0
2,86342,0,2021-03-13 00:00:00,9654,0,서울특별시,95996,0
3,96073,0,2021-03-14 00:00:00,1704,0,서울특별시,97777,0
4,97777,0,2021-03-15 00:00:00,900,0,서울특별시,98677,0
...,...,...,...,...,...,...,...,...
155,4042352,1551572,2021-08-13 00:00:00,28270,135399,서울특별시,4070622,1686971
156,4071166,1687149,2021-08-14 00:00:00,43931,121688,서울특별시,4115097,1808837
157,3452328,1160526,2021-08-15 00:00:00,29747,39226,서울특별시,3482075,1199752
158,4145167,1848323,2021-08-16 00:00:00,3875,1162,서울특별시,4149042,1849485
159,4149520,1849577,2021-08-17 00:00:00,123845,51259,서울특별시,4273365,1900836

In [108]:
#코로나19 예방접종 통계데이터(부산)
servicekey='HHQsX29i3kgKraRR7G%2BADQj9bY663OHfn8K8yfi%2F9FvKu1j890mAFM1aSHo9WWUR7vnH0guXGIRoGIScVVszxw%3D%3D'
base_url = "https://api.odcloud.kr/api"
vaccine_endpoint = "/15077756/v1/vaccine-stat"

vaccine_url = base_url+vaccine_endpoint+"?serviceKey="+servicekey+"&cond[sido::EQ]="+quote("부산광역시")+"&page=1&perPage=200"

response = urllib.request.urlopen(vaccine_url)
json_str = response.read().decode("utf-8")

rawdata=json.loads(json_str)
busan=json_normalize(rawdata['data'])
busan

#busan.to_csv("./result/vc_busan.csv",encoding="utf-8-sig")

,accumulatedFirstCnt,accumulatedSecondCnt,baseDate,firstCnt,secondCnt,sido,totalFirstCnt,totalSecondCnt
0,36734,0,2021-03-11 00:00:00,3311,0,부산광역시,40045,0
1,40159,0,2021-03-12 00:00:00,2620,0,부산광역시,42779,0
2,42863,0,2021-03-13 00:00:00,2748,0,부산광역시,45611,0
3,45681,0,2021-03-14 00:00:00,187,0,부산광역시,45868,0
4,45868,0,2021-03-15 00:00:00,0,0,부산광역시,45868,0
...,...,...,...,...,...,...,...,...
155,1506578,537715,2021-08-13 00:00:00,10354,50437,부산광역시,1516932,588152
156,1517084,588182,2021-08-14 00:00:00,16466,43865,부산광역시,1533550,632047
157,1278870,380091,2021-08-15 00:00:00,9401,12571,부산광역시,1288271,392662
158,1543018,644646,2021-08-16 00:00:00,736,220,부산광역시,1543754,644866
159,1543794,644875,2021-08-17 00:00:00,45827,18621,부산광역시,1589621,663496

In [111]:
#코로나19 예방접종 통계데이터(부산)
servicekey='HHQsX29i3kgKraRR7G%2BADQj9bY663OHfn8K8yfi%2F9FvKu1j890mAFM1aSHo9WWUR7vnH0guXGIRoGIScVVszxw%3D%3D'
base_url = "https://api.odcloud.kr/api"
vaccine_endpoint = "/15077756/v1/vaccine-stat"

vaccine_url = base_url+vaccine_endpoint+"?serviceKey="+servicekey+"&cond[sido::EQ]="+quote("대구광역시")+"&page=1&perPage=200"

response = urllib.request.urlopen(vaccine_url)
json_str = response.read().decode("utf-8")

rawdata=json.loads(json_str)
daegu=json_normalize(rawdata['data'])
daegu

daegu.to_csv("./result/vc_daegu.csv",encoding="utf-8-sig")

## 참고
- OPEN API : 공공데이터활용지원센터_코로나19 예방접종 통계 데이터 조회 서비스
- https://www.data.go.kr/tcs/dss/selectApiDataDetailView.do?publicDataPk=15077756#/layer-api-guide
- https://www.data.go.kr/en/data/15077756/openapi.do